<div class="header d-flex align-items-center justify-content-between">
  <div class="header__logo">
    <h1><a routerLink="/">Clinic</a></h1>
  </div>
  <div class="header__actions d-flex align-items-center">
    <div class="ha__search">
      <input type="text" class="form-control" placeholder="Patient Name">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <div class="ha__others d-flex align-items-center">
      <i class="fa fa-globe" aria-hidden="true"></i>
      <i class="fa fa-bell-o" aria-hidden="true"></i>
      <i class="fa fa-power-off" aria-hidden="true"></i>
    </div>
  </div>
</div>
